:root {
  --colorMain: hsl(220, 100%, 30%);
  --colorHeroName: hsl(207, 44%, 50%);
  --colorJavaScript: hsl(53, 93%, 54%);
  --colorReact: hsl(193, 95%, 68%);
  --colorGitText: hsl(202, 50%, 30%);
  --colorSection: #fafafa;
  --colorBlack: #000000;
  --colorBlack1: #111111;
  --colorBlack2: #222222;
  --colorBlack3: #333333;
  --colorBlack4: #444444;
  --colorBlack5: #555555;
  --colorBlack6: #666666;
  --colorBlack7: #777777;
  --colorBlack8: #888888;
  --colorBlack9: #999999;
  --colorWhite5: #aaaaaa;
  --colorWhite4: #bbbbbb;
  --colorWhite3: #cccccc;
  --colorWhite2: #dddddd;
  --colorWhite1: #eeeeee;
  --colorWhite: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}


.container {
  font-family: Roboto, system-ui, sans-serif;
}

.section-border {
  border-left: 2.2em solid var(--colorMain);
  display: flex;
  flex-direction: column;
}

/*** HEADER ***/
.header {
  height: 80px;
  background-color: var(--colorBlack4);
  display: flex;
  justify-content: space-between;
  padding: 0 0.8em;
}

.fa-bars {
  display: none;
  z-index: 2;
}

.ilustration {
  margin: 0 0.7em;
  display: flex;
  z-index: 2;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

.menu-list {
  display: flex;
  padding-left: 0;
}

.menu-item {
  margin: 0 0.4em;
  list-style: none;
}

.fa-briefcase,
.fa-code-fork,
.fa-user {
  margin-left: 0.4em;
}

.menu-link {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--colorWhite);
  padding: 0.4em 0.8em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.menu-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

/*** MAIN ***/
.hero {
  background-color: var(--colorBlack2);
  display: flex;
  justify-content: space-around;
}

.hero-image-desktop {
  height: 17em;
  position: relative;
  top: 0.25em;
  right: 1.5em;
  margin-top: 1em;
}

.hero-image-mobile {
  display: none;
}

.hero-title {
  font-size: 3.5em;
  line-height: 1.2em;
  color: var(--colorWhite);
  margin: auto 0;
}

.hero-title-name {
  color: var(--colorHeroName);
}

.hero-title-language {
  color: var(--colorJavaScript);
}

.hero-title-library {
  color: var(--colorReact);
}

/*** SECTION: BEST PROJECTS ***/
.projects {
  background-color: var(--colorSection);
  padding-top: 3.5em;
  padding-bottom: 1em;
  position: relative;
  z-index: 1;
}

.title-projects-container {
  display: flex;
  position: relative;
}

.title-projects {
  color: var(--colorMain);
  text-transform: uppercase;
  font-size: 2.2em;
  margin: 0 0 40px 2.4em;
  position: relative;
}

.bookmark {
  width: 4em;
  border: 0.6em var(--colorMain) solid;
  border-radius: 2em;
  position: absolute;
  top: -0.07em;
  left: -4.7em;
}

.project {
  border-radius: 10px;
  background-color: var(--colorWhite);
  padding: 2.5em 2em;
  margin: 0 3.6em 0 2.2em;
  box-shadow: 0 0 10px -2px var(--colorBlack9);
  display: flex;
  justify-content: space-between;
  align-self: center;
  max-width: 1024px;
  margin-bottom: 40px;
}

.project-details {
  color: var(--colorBlack1);
  width: 50%;
}

.project-title,
.project-technology,
.project-link {
  margin: 0;
}

.project-title {
  color: var(--colorBlack1);
  font-size: 2.4rem;
  margin-bottom: 0.2em;
}

.project-technology,
.project-link {
  color: var(--colorBlack2);
  font-size: 1.8rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0.3em;
}

.project-technology-span,
.project-link-absolute {
  color: var(--colorBlack5);
  font-weight: 400;
  font-size: 1.8rem;
}

.project-description {
  color: var(--colorBlack1);
  font-size: 1.6rem;
  margin: 12px 0 20px 0;
  /* line-height: 1.4em; */
}

.project-imageContainer {
  margin: 0;
  width: 40%;
  display: flex;
  align-items: center;
}

.desktop-image {
  width: 100%;
  position: relative;
  box-shadow: 0 1.5px 9px -2px var(--colorBlack8);
  border-radius: 5px;
}

.mobile-image {
  width: 30%;
  position: relative;
  display: none;
}

/*** SECTION: EXPERIENCE ***/
.experience {
  background-color: var(--colorSection);
  padding-top: 2.5em;
}

.experience-container {
  display: flex;
  justify-content: space-around;
  padding-left: 2.5em;
  padding-bottom: 40px;
  padding-right: 2.5em;
}

.experience-article {
  width: 100%;
  max-width: 425px;
  box-shadow: 0 0 10px -2px;
  border-radius: 8px;
  overflow: hidden;
}

.experience-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.experience-text {
  padding: 1.8em;
}

.experience-text i {
  vertical-align: middle;
  font-size: 2.2rem;
  cursor: pointer;
}

.experience-title {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}

.experience-details {
  overflow: hidden;
  max-height: 0;
  transition: all .5s ease-in-out;
  font-size: 1.5rem;
}

.show-experience-details {
  max-height: 140px;
}

/*** SECTION: CONTACT ***/
.contact {
  background-color: var(--colorMain);
  color: var(--colorWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact.section-border {
  border-color: var(--colorWhite);
}

.social {
  padding: 1.5em 0;
}

.social-list {
  padding: 0;
  margin: 0;
  display: flex;
}

.social-item {
  list-style: none;
  margin: 0 2.5em;
  text-decoration: underline;
}

.fa-twitter,
.fa-github,
.fa-linkedin,
.fa-instagram {
  color: var(--colorWhite);
  font-size: 7em;
}

/*** QUERIES ***/
@media (min-width: 1024px) {
  .project-description {
    margin-top: 4%;
  }
}

@media screen and (max-width: 1024px) {
  .section-border {
    font-size: 14px;
  }

  /*** HEADER ***/
  .header {
    font-size: 14px;
  }

  .header-image {
    height: 70px;
  }

  /*** MAIN ***/
  .hero {
    font-size: 12px;
  }

  /*** SECTION: EXPERIENCE ***/
  .experience-temporal {
    font-size: 11.5px;
  }
}

@media screen and (max-width: 896px) {
  .experience-temporal {
    font-size: 10px;
  }
}

@media screen and (max-width: 767px) {
  .section-border {
    font-size: 12px;
  }

  /*** HEADER ***/
  .header {
    justify-content: center;
    font-size: 34px;
    width: 100%;
    z-index: 2;
    position: fixed;
  }

  .fa-bars {
    font-size: 1.3em;
    color: var(--colorWhite);
    display: block;
    align-self: center;
    position: absolute;
    left: 1em;
  }

  .header-image {
    height: 60px;
  }

  .menu {
    background-color: rgb(68, 68, 68);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100vw;
    z-index: 1;
    transition: 0.5s;
  }

  .menu-list {
    flex-direction: column;
    padding-top: 3.5em;
  }

  .menu-item {
    margin-bottom: 2.5em;
  }

  .menu-link:hover {
    background-color: transparent;
  }

  .menu.is-active {
    left: 0;
  }

  /*** MAIN ***/
  .hero {
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
  }

  .hero-title {
    line-height: 1.3em;
    text-align: center;
    margin: 0.5em auto;
    margin-bottom: 0;
  }

  .hero-image-desktop {
    display: none;
  }

  .hero-image-mobile {
    display: block;
    width: 65%;
    margin-left: 3em;
    position: relative;
    top: 0.7em;
  }

  /*** SECTION: PROJECTS ***/
  .project {
    flex-direction: column;
    padding: 1.5em;
    margin: 0 2.5em 0 2em;
    font-size: 15px;
    margin-bottom: 30px;
  }

  .project-details {
    width: 100%;
  }

  .project-imageContainer {
    width: 90%;
    margin: 0 auto;
  }

  /*** SECTION: EXPERIENCE ***/
  .experience-temporal {
    font-size: 8px;
  }

  /*** SECTION: CONTACT ***/
  .social {
    font-size: 10px;
  }
}

@media screen and (max-width: 624px) {
  .experience-temporal {
    font-size: 6px;
  }
}

@media screen and (max-width: 480px) {
  .section-border {
    font-size: 8px;
  }

  /*** HEADER ***/
  .header {
    font-size: 23px;
  }

  .header-image {
    height: 50px;
  }

  .menu-list {
    padding-top: 0;
  }

  /*** MAIN ***/
  .hero-title {
    font-size: 2.6em;
  }

  .hero-image-mobile {
    width: 80%;
  }

  /*** SECTION: PROJECTS ***/
  .project {
    font-size: 10.5px;
  }

  /*** SECTION: EXPERIENCE ***/
  .experience-temporal {
    font-size: 5px;
  }

  /*** SECTION: CONTACT ***/
  .social {
    font-size: 7px;
  }
}

@media screen and (max-width: 400px) {
  .experience-temporal {
    font-size: 4px;
  }
}

@media screen and (max-width: 320px) {
  .section-border {
    font-size: 6px;
  }

  /*** HEADER ***/
  .header {
    font-size: 21px;
  }

  /*** HERO ***/
  .hero {
    font-size: 10px;
  }

  /*** SECTION: PROJECTS ***/
  .project {
    font-size: 9px;
  }

  /*** SECTION: EXPERIENCE ***/

  /*** SECTION: CONTACT ***/
  .social {
    font-size: 6px;
  }
}

@media screen and (max-height: 479px) and (max-width: 767px) {
  .header {
    height: 60px;
    font-size: 20px;
  }

  .menu-list {
    padding-top: 4em;
  }

  .menu-item {
    margin-bottom: 2em;
  }
}

@media screen and (max-height: 320px) {
  .header {
    font-size: 18px;
  }
}
